{{  'custom-banner.css' | asset_url | stylesheet_tag }}

<div class="custom-banner" id="custom-banner-{{ section.id }}">

</div>


{% schema %}
{
    "name": "Custom banner",
    "presets": [
        {
            "name": "Custom banner"
        }
    ]
}
{% endschema %}