{{  'custom-banner.css' | asset_url | stylesheet_tag }}

<div class="custom-banner" id="custom-banner-{{ section.id }}">

</div>


{% schema %}
{
    "name": "Custom banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner"
        },
        {
            "type": "text",
            "id": "logo_text",
            "label": "Logo text",
            "default": "TISSO VISION"
        },
    ],
    "presets": [
        {
            "name": "Custom banner"
        }
    ]
}
{% endschema %}